body {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center vertically */
  align-items: center;     /* Center horizontally */
  min-height: 100vh;       /* Take full viewport height */
  margin: 0;               /* Remove default margin */
  font-family: Arial, sans-serif;
  background-color: #fafafa; /* optional: light background */
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #efebef;
  border: 2px solid #444a87;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.cell:hover {
  background-color: #ddd;
}

.cell.x{
    color: rgb(57, 85, 63);
}

.cell.o{
    color: rgb(129, 162, 224);
}

#restartBtn {
    display: inline-block;
    margin-top: 20px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;

    border-radius: 8px;
    background-color: #c7d0f1;
}

#restartBtn:hover{
    background-color: #777c98;
}

h1{
    color: rgb(98, 120, 188);
}

  #player-setup {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

#player-setup input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 15px;
  
}

#start-game {
  padding: 5px 15px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#game-message {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 1.2em;
}
